.projects {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  width: 100%;
  padding: 12px;
  /* background-color: red; */
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;

}

.container {
  /* background-color: blue; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: center;
  padding: 12px;
  width: 80%;
  border: 2px solid #300458;
  max-height: 650px;
  overflow-x: hidden;
  border-radius: 15px;
  overflow-y: scroll;
  box-shadow: 0 0 8px var(--color-pri);
}

.title {
  text-align: center;
}