.quali-text {
  font-size: 30px;
  top: 10px;
}

.skills-container {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 80%;
  width: 90%;
  overflow-x: scroll;
  overflow-y: hidden;
  margin-top: 15px;
  user-select: none;
}

.skills-container .qualification {
  position: relative;
  height: 550px;
  min-width: 40%;
  background-color: rgb(9, 6, 31);
  border-radius: 20px;
  margin: 0 20px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.skills-container .qualification .content {
  height: 85%;
  width: 90%;
  border-radius: 15px;
  margin-top: 20px;
  background-size: contain;
  background-position: center;
}

.skills-container .qualification h1 {
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 20px;
}

.skills-container .qualification .content.html {
  background: rgba(255, 255, 255, 0.103) url(../props/html.png);
  background-position: center;
}
.skills-container .qualification .content.css {
  background: rgba(255, 255, 255, 0.103) url(../props/css.png);
  background-position: center;
  background-size: 100%;
  background-size: cover;
}
.skills-container .qualification .content.javascript {
  background: rgba(255, 255, 255, 0.103) url(../props/js.jpg);
  background-position: center;
  background-size: 100%;
  background-size: cover;
}
.skills-container .qualification .content.bootstrap {
  background: rgba(255, 255, 255, 0.103) url(../props/bootstrap.png);
  background-position: center;
  background-size: 100%;
  background-size: cover;
}
.skills-container .qualification .content.react {
  background: rgba(255, 255, 255, 0.103) url(../props/react.png);
  background-position: center;
  background-size: 100%;
  background-size: cover;
}
.skills-container .qualification .content.nestjs {
  background: rgba(255, 255, 255, 0.103) url(../props/nestjs.png);
  background-position: center;
  background-size: 100%;
  background-size: cover;
}

.skills-container .qualification .content.python {
  background: rgba(255, 255, 255, 0.103) url(../props/python.jpg);
  background-position: center;
  background-size: 100%;
  background-size: cover;
}

.skills-container .qualification .content.node {
  background: rgba(255, 255, 255, 0.103) url(../props/node.jpg);
  background-position: center;
  background-size: 100%;
  background-size: cover;
}


@media (max-width: 820px) {
  .quali-text {
    font-size: 30px;
    top: 10px;
    text-align: center;
  }

  .skills-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
    width: 98%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 15px;
  }

  .skills-container .qualification {
    position: relative;
    height: 80%;
    min-width: 95%;
    background-color: rgb(9, 6, 31);
    border-radius: 20px;
    margin: 0 30px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .skills-container .qualification .content {
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
  }

  .skills-container .qualification h1 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 200;
  }
}

@media (max-width: 500px) {
  .quali-text {
    font-size: 20px;
    top: 10px;
    text-align: center;
  }

  .skills-container {
    position: absolute;
    display: flex;
    justify-content: flex-start ;
    align-items: center;
    height: 80%;
    width: 85%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 15px;
  }

  .skills-container .qualification {
    position: relative;
    height: 80%;
    min-width: 95%;
    background-color: rgb(9, 6, 31);
    border-radius: 20px;
    margin: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .skills-container .qualification .content {
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
  }

  .skills-container .qualification h1 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 200;
  }
}

@media (max-width: 420px) {
  .quali-text {
    font-size: 20px;
    top: 10px;
    text-align: center;
  }

  .skills-container {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80%;
    width: 88%;
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 40px;
  }

  .skills-container .qualification {
    position: relative;
    height: 80%;
    min-width: 98%;
    background-color: rgb(9, 6, 31);
    border-radius: 20px;
    margin: 0 40px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .skills-container .qualification .content {
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
  }

  .skills-container .qualification h1 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 200;
  }
}

@media (max-width: 400px) {
  .quali-text {
    font-size: 20px;
    top: 10px;
    position: absolute;
    left: 10px;
  }

  .skills-container {
    position: absolute;
    left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .skills-container .qualification {
    position: relative;
    height: 80%;
    min-width: 90%;
    background-color: rgb(9, 6, 31);
    border-radius: 20px;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .skills-container .qualification .content {
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
  }

  .skills-container .qualification h1 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 200;
  }
}

@media (max-width: 375px) {
  .quali-text {
    font-size: 20px;
    top: 10px;
    position: absolute;
    left: 10px;
  }

  .skills-container {
    position: absolute;
    left: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80%;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .skills-container .qualification {
    position: relative;
    height: 95%;
    min-width: 90%;
    background-color: rgb(9, 6, 31);
    border-radius: 20px;
    margin: 0 20px 0 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .skills-container .qualification .content {
    height: 85%;
    width: 90%;
    border-radius: 15px;
    margin-top: 20px;
    background-size: contain;
    background-position: center;
  }

  .skills-container .qualification h1 {
    font-size: 18px;
    text-transform: uppercase;
    margin-top: 20px;
    font-weight: 200;
  }
}
