.container .card {
  position: relative;
  max-width: 500px;
  height: 215px;
  background-color: #04041f;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0.5px 16px #014355;
  transition: 0.3s ease-in-out;
  border-radius: 15px;
}

.container .card .content {
  position: relative;
  margin-top: -140px;
  pad: 10px 15px;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
  overflow-y: auto;
}

.container .card:hover {
  height: 420px;
}

.container .card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
}

.container .card .imgBx {
  position: relative;
  display: flex;
  justify-content: center;
  width: 260px;
  height: 260px;
  top: -60px;
  border-radius: 10px;
  z-index: 1;
}

.container .card .imgBx img {
  max-width: 100%;
  height: 220px;
  width: 250px;
  border-radius: 10%;
}